* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  background-color: rebeccapurple;
  color: #fff;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 24px;
}
h1 {
  font-size: 39px;
  margin-bottom: 14px;
}
h2 {
  font-size: 28px;
  margin-bottom: 10px;
}
.card-row {
}
.card {
  padding: 20px;
  border: 1px solid #9c9c9c;
  border-radius: 7px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 15%);
}
.card > img {
  max-width: 100%;
  margin-bottom: 20px;
}
h3 {
  font-size: 20px;
  margin-bottom: 7px;
}
.card h3 {
  color: rebeccapurple;
}
.card h3 em {
  padding: 0.25em;
  background-color: #eddbff;
  border-radius: 4px;
}
.card p {
  color: #757575;
  line-height: 1.5;
  margin-bottom: 19px;
}
.button {
  text-decoration: none;
  background-color: rebeccapurple;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  display: inline-block;
}
footer {
  border-top: 2px solid rebeccapurple;
}
