* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  background-color: #339973;
  color: #fff;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 24px;
}
h1 {
  font-size: 39px;
  margin-bottom: 14px;
}
h2 {
  font-size: 28px;
  margin-bottom: 10px;
}
.card-row {
  display: flex;
  justify-content: space-between;
}
.card {
  padding: 20px;
  border: 1px solid #9c9c9c;
  border-radius: 7px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 15%);
  width: 27%;
}
.card > img {
  max-width: 100%;
  margin-bottom: 20px;
}
h3 {
  font-size: 20px;
  margin-bottom: 7px;
}
.card h3 {
  color: rebeccapurple;
  width: 100%;
  display: flex;
}
.card h3 em {
  padding: 0.25em;
  background-color: #eddbff;
  border-radius: 4px;
  width: 86%;
  height: 10%;
}
.card p {
  color: #757575;
  line-height: 1.5;
  margin-bottom: 19px;
}
.button {
  text-decoration: none;
  background-color: #339973;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  display: inline-block;
}
footer {
  border-top: 2px solid #339973;
}
